{% load static %}
<header>
<center><br>
<img src="{% static 'img/logo.png' %}" alt="load image" height="160" width="150">

  </center>
</header>
    <br>

    <div class="right">
        {% if user.is_authenticated %}
                    <h6 style="text-align:right;color:blue;">Welcome {{ user.username }}!
                        <a class="a2" href="{% url 'users:logout' %} ">Logout</a></h6>

        {% else %}

        <h6 style="text-align:right;">
         <a class="a2" href="{% url 'users:login' %}">Login</a></h6>
    </div>
        {% endif %}
    </div>